* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #F4F8FB;
    font-family: "Open Sans", sans-serif;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.sign {
    display: flex;
    justify-content:center;
    gap: 15px;
}

.login {
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 18px;
    color:#4b8b4d;
    font-weight: 400;
    font-size: 16px;
}

.signup {
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #4b8b4d;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 600;
}

.logo i {
    color: #4b8b4d;
    padding: 5px 10px;
}

.green-part {
    color: #4CAF4F;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 40px;
}

.guy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F8FB;
    padding: 10px 60px 60px 60px;
    font-family: "Open Sans", sans-serif;
}

.guy-img img {
    width: 500px;
    height: auto;
}

.guy-content p {
    font-size: 14px;
    margin: 35px 0;
    font-weight: 500;
    color: #777777;
    font-family: "Open Sans", sans-serif;
    color: #7d7d7d;
}

.grey {
    font-size: 40px;
    font-weight: 700;
    color: #7d7d7d;
}

.guy-sign {
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #4b8b4d;
    padding: 15px 18px;
    border-radius: 10px;
    font-weight: 600;
}

.guy-content {
    max-width: 450px;
    font-family: "Open Sans", sans-serif;
}

.dots {
    display: flex;
    justify-content: center;
    background-color: #F4F8FB;
}

.dots img {
    width: 50px;  
    height: auto;
}

.clients-logos {
    display: flex;  
    align-items: center;
    margin-top: 30px;
    padding: 18px;
    justify-content: space-evenly;
}

.clients-logos img {
    width: 48px;  
    height: auto;
    opacity: 0.8;
}

.clients-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    line-height: 25px;
    padding-bottom: 20px;
}

.clients-content p {
    font-size: 14px;
    color: #7d7d7d;
}

.clients {
    background-color: #ffffff;
    padding: 40px 0;
}

.clients-content h2 {
    font-size: 28px;
    font-weight: 700;
    color: #4D4D4D;
}

.community {
    background-color: #ffffff;
    text-align: center;
    padding: 80px 0;
    font-family: "Open Sans", sans-serif;
}

.community-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 8px;
}

.community-header p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #717171;
    margin-bottom: 50px;
}

.community-cards {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.card {
    width: 300px;
}

.card i {
    color:#4b8b4d;
    font-size: 32px;
}

.card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #717171;
    line-height: 26px;
}

.icon-circle {
    width: 90px;
    height: 90px;
    background-color: #E8F5E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
}

.icon-circle i {
    font-size: 40px;
    color: #4CAF4F;
}

.reinvent {
    background-color: #ffffff;
    padding: 80px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.reinvent-content h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.reinvent-content p {
    margin-top: 15px;
    color: #717171;
    font-size: 16px;
}

.reinvent-figures {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.figure {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 200px;
}

.figure i {
    font-size: 28px;
    color: #4CAF4F;
}

.figure h3 {
    font-size: 22px;
    font-weight: 700;
    color: #4D4D4D
}

.figure p {
    font-size: 14px;
    color: #717171;
}

.row {
    display: flex;
    justify-content: center;
}

.tesla {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    background-color: #F4F8FB;
    padding: 80px 100px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.tesla-customers img {
    width: 50px;  
    opacity: 0.9;
    height: auto;
}

.tesla-customers {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.tesla-customers a {
    text-decoration: none;
    color: #4CAF4F;
    font-weight: 700;
    font-size: 16px;
}

.tesla-img img {
    width: 350px;
    height: auto;
    border-radius: 12px;
}

.tesla-right {
    max-width: 650px;
}

.tesla-text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #717171;
}

.tesla-name {
    font-weight: 700;
    color: #4CAF4F;
    margin-bottom: 4px;
    font-size: 20px;
}

.tesla-dragon {
    font-size: 14px;
    color: #717171;
    margin-bottom: 25px;
}

